<!DOCTYPE html>
<html lang="en" ng-app="sandboxApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Compile Sandbox</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/plugins/morris.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/lib/angular.js"></script>
  <script src="/js/lib/angular-route.js"></script>
  <script src="/js/controller.js"></script>

</head>

<body ng-controller="ReviewController">

  <div id="wrapper">
    <% include navigation.ejs %>

      <div id="page-wrapper-margin">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-6 col-md-offset-3">

              <h2>Quiz results</h2>

              <p><%= results.correct %></p>
              <p><%= results.total %></p>
              <p><%= results.percentage %></p>
              <p><%= results.pass %></p>

              <form ng-hide="<%= results.pass %>" method="get" action="/quiz">
                <div class="form-group">
                  <input value="Try again" type="submit" class="btn btn-primary" />
                </div>
              </form>
              <form ng-show="<%= results.pass %>" method="get" action="users/testfiles/submission">
                <div class="form-group">
                  <input value="Proceed" type="submit" class="btn btn-primary" />
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>

  </div>
</body>

</html>
